.footer-text {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer-text.mb-1 {
  font-weight: bold;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.react-quill {
  background-color: rgba(255, 255, 255, 0.41);
  color: black;
  border-radius: 8px;
}

.react-quill .ql-toolbar {
  background-color: rgba(255, 255, 255, 0.41);
  color: black;
}

.react-quill .ql-container {
  background-color: rgba(255, 255, 255, 0.41);
  color: black;
}
